[submodule "3rd_party/JUCE"]
	path = 3rd_party/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "3rd_party/rubberband"]
	path = 3rd_party/rubberband
	url = https://github.com/breakfastquay/rubberband
